{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    {% element h2 %}
        {% trans "Скидання пароля" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        {% blocktrans %}Ми відправили вам листа. Якщо ви його не отримали, перевірте папку спаму.{% endblocktrans %}
    </p>
{% endblock content %}
