{% extends "account/base_entrance.html" %}
{% load allauth i18n socialaccount %}


{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Реєстрація" %}
    {% endelement %}
    <hr>
    {% url 'account_signup' as action_url %}
    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
        {% slot body %}
            <div style="display: inline-block; text-align: right;">
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {% if redirect_field_value %}
                    <input type="hidden"
                           name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value }}"/>
                {% endif %}
            </div>
        {% endslot %}
        {% slot actions %}
            <p><button class="btn btn-primary">
                {% trans "Зареєструватися" %}
            </button></p>
        {% endslot %}
    {% endelement %}
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endblock content %}
