{% extends "base_car_header.html" %}
{% load bootstrap5 %}
{% load static %}

{% block header_right %}
    <a href="{% url 'dealership_client' %}">
        <button class="icon" type="button">
            <img style="width:65px; height:65px; border-radius: 180px;"
                 src='{% static 'home_icon.png' %}' alt="Home"/>
        </button>
    </a>
{% endblock %}

{% block main %}
    <div style="width: 80%; margin: 5%; height: 80%; background-color: bisque; display: flex; justify-content: center; flex-direction: column;">
        <div style="text-align: center">
            {% block register %}{% endblock %}
        </div>
    </div>
{% endblock %}