{% extends "base_car_header.html" %}
{% load bootstrap5 %}


{% block title %}
    dealerships
{% endblock %}

{% block main %}
    <form action="" method="post">
        {% csrf_token %}
        <h2 style="margin-top: 20px">Оберіть дилерський центр!</h2>
        {% for dealership in dealerships %}
            <div style=" margin: 2%; width: 80%; text-align: center">
                <p>
                    <button style="padding: 15px; width: 100%; border-radius: 30px; background-color: chocolate; font-size: 30px;"
                            type="submit" name="view_cars" value="{{ dealership.pk }}">
                        {{ dealership.name }}
                    </button>
                <div style="display: flex; justify-content: end;">
                    {% with is_authenticated=user.is_authenticated %}
                        {% if is_authenticated %}
                            {% if user.is_staff == True %}
                                <div style="display: flex; flex-wrap: wrap;">
                                    <button style="margin-right: 10px" class="btn btn-danger d-block ms-auto" type="submit" name="delete"
                                            value="{{ dealership.pk }}">
                                        Видалити
                                    </button>
                                    <button class="btn btn-danger d-block ms-auto" type="submit" name="edit"
                                            value="{{ dealership.pk }}">
                                        Редагувати
                                    </button>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                </div>
                </p>
            </div>
        {% endfor %}
    </form>
{% endblock %}
