{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}
    dealerships
{% endblock %}

{% block register %}
    <form action="" method="post">
        <div class="text-center">
            {% csrf_token %}
            <h2>Оберіть дилерський цетр</h2>
            <p></p>
            <p>
                <label for="dealership">
                    <select name="dealership" id="dealership">
                        {% for dealership in dealerships %}
                            <option class="btn btn-secondary dropdown-toggle"
                                    value="{{ dealership.id }}">{{ dealership.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </p>
            <p style="margin: 10px">
                <input class="btn btn-primary" type="submit" name="view_cars" value="Переглянути автомобілі дилера">
            </p>
            {% with is_authenticated=user.is_authenticated %}
                {% if is_authenticated %}
                    <h3>Користувач: {{ user.username }}</h3>
                    <a href="{% url 'logout' %}">
                        <button type="button" class="btn btn-primary my-2">Вийти з акаунта</button>
                    </a>
                {% else %}
                    <h3>Анонімний користувач</h3>
                    <p><a href="{% url 'login' %}">
                        <button type="button" class="btn btn-primary my-1" >Увійти</button>
                    </a></p>

                    <a href="{% url 'register' %}">
                        <button type="button" class="btn btn-primary my-1">Створити Акаунт</button>
                    </a>
                {% endif %}

            {% endwith %}
        </div>
    </form>
{% endblock %}