{% extends "base_car_header.html" %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
    My Cars
{% endblock %}

{% block header_right %}
    <a href="{% url 'dealership_client' %}">
        <button class="icon" type="button">
            <img style="width:65px; height:65px; border-radius: 180px;"
                 src='{% static 'home_icon.png' %}' alt="Home"/>
        </button>
    </a>
{% endblock %}

{% block main %}
    <form action="" method="post">
    {% csrf_token %}
    <div style="margin-top: 3%; width: 80%; text-align: center">
        <h2>Ваші автомобілі!</h2>
    </div>
    {% for car in sell_cars %}
        <div style="width: 80%; margin: 2%">
            <li style="font-size: 20px">
                Марка авто: {{ car.car_type.brand }} Модель авто: {{ car.car_type.model }}
                Колір: {{ car.color }} Рік випуску: {{ car.year }} Номерний
                знак: {{ car.licence.number }}
            </li>
        </div>
    {% endfor %}
    </form>
{% endblock %}
