{% extends "base_car_header.html" %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
    Order:{{ order.id }}
{% endblock %}


<body>

{% block header_right %}
    <a href="{% url 'dealership_client' %}">
        <button class="icon" type="button">
            <img style="width:65px; height:65px; border-radius: 180px;"
                 src='{% static 'home_icon.png' %}' alt="Home"/>
        </button>
    </a>
    <button class="icon" type="submit" name="car_list">
        <img style="width:65px; height:65px; border-radius: 180px;"
             src='{% static 'avto_icon.png' %}' alt="Cars"/>
    </button>
{% endblock %}

{% block main %}
    <div style="width: 100%; display: flex; justify-content: center; text-align: center">
        <div style="width: 50%;">
            <h2>Деталі замовлення:</h2>
            <p> ID замовлення: {{ order.id }} </p>
            <p>Клієнт: {{ order.user.username }}</p>
            <p> Дилерський центр: {{ order.dealership.name }}</p>
            <h2>Сума замовлення: {{ total_price }}$</h2>
        </div>
    </div>

    {% for car in cars_in_order %}
        <div style="padding: 20px; margin: 2%; min-height: 250px; background-color: chocolate; width: 400px;">
            <h2>Марка авто: {{ car.car_type.brand }}</h2>
            <h2>Модель авто: {{ car.car_type.model }}</h2>
            {% if car.photo %}
                <img src="{{ car.photo.url }}" alt="Car Photo" width="300" height="200">
            {% endif %}
            <p>Колір: {{ car.color }} Рік випуску: {{ car.year }}</p>
            <p>Ціна: {{ car.car_type.price }}$</p>
            {% if car.blocked_by_order is not None %}
                <button class="btn btn-danger d-block ms-auto" type="submit" name="delete_car"
                        value="{{ car.id }}">
                    Видалити з кошику
                </button>
            {% endif %}
        </div>
    {% endfor %}
    <div style="width: 100%; display: flex; justify-content: center; text-align: center">
        <div style="width: 50%">
            <p><button class="btn btn-primary" type="submit" name="pay_order">Сплатити замовлення</button></p>
            <p><button class="btn btn-primary" type="submit" name="clear_cart">Очистити кошик</button></p>
            url: {{ url }}
        </div>
    </div>

{% endblock %}
</body>