{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<title>
    OrderFinish
</title>

<style>

    .client {
        left: -15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: left;
        background-color: bisque;
        padding: 20px;
        border-radius: 20px;
    }


    .cart {
        right: -15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: bisque;
        position: relative;
        text-align: center;
        padding: 20px;
        border-radius: 20px;
    }

    .cars {
        background-color: bisque;
        margin-bottom: 30px;
        padding: 20px;
        position: relative;
        border-radius: 20px;
    }
</style>

<body style="background: bisque">
<form action="" method="post">
    {% csrf_token %}
    <div class="col-10 mx-auto my-5"
         style="background-color: burlywood; min-height: 85vh; position: absolute; left: 50%; transform: translateX(-50%);">
        <div class="row">
            <div class="client col-4 my-5">
                <h5>Придбані автомобілі клієнта: {{ order.user.username }}</h5>
            </div>
            <div class="cart col-3 ms-auto my-5">
                <p>
                <a href="{% url 'dealership_client' %}">
                    <button class="btn btn-primary" type="button">Початкова сторінка</button>
                </a>
                </p>
                    <button class="btn btn-primary" type="submit" name="car_list">Переглянути більше автомобілів
                    </button>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto">
                    {% for car in sell_cars %}
                        <div class="cars">
                            <li>
                                Марка авто: {{ car.car_type.brand }} Модель авто: {{ car.car_type.model }}
                                Колір: {{ car.color }} Рік випуску: {{ car.year }} Номерний
                                знак: {{ car.licence.number }}
                            </li>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</form>
</body>
