{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}
    register
{% endblock %}

{% block register %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Створити Акаунт
            </button>
            <a href="{% url 'login' %}">
                <button type="button" class="btn btn-primary">Увійти</button>
            </a>
            <a href="{% url 'dealership_client' %}">
                <button type="button" class="btn btn-primary my-1">Перейти до дилерських центрів</button>
            </a>
        {% endbuttons %}
    </form>
{% endblock %}

